<div class="panel panel-primary">
<div class="panel-heading">
    <h2>CATEGORY</h2>
        <div class="panel-body"></div>
        <table class="table table-striped">
<thead style="background-color:green">
<tr>
<th>Category name</th>
<th>Actions</th>
</tr>
</thead>
<tbody style="background-color:green">
<tr *ngFor="let category of categories" style="color:black" >
<td>{{category.name}}</td>
<td><button (click)="categorydetails(category.id)" class="btn btn-info" style="margin-left:10px">View details </button>
<button (click)="categoryupdate(category.id)" class="btn btn-success">Edit</button>
<button (click)="deletecategory(category.id)" class="btn btn-danger">Delete</button>
</td>
</tr>
</tbody>
        </table>
    </div>
</div>
