<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">PRODUCT CATALOG UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" arial controls="navbarNavDropdown"
    arial-expanded="false" arial-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-navml-auto ">
<li class="nav-item"><a class="nav-link">LOG IN</a></li>
<li class="nav-item">
    <a class="nav-link">LOG OUT</a></li>
    </ul>
</div>
</nav>
<marquee text-direction="left">GO SHOPPING</marquee>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/category">CATEGORY LIST</a></li>
        <li routerLinkActive="active"><a routerLink="/add">ADD CATEGORY</a></li>
        <li routerLinkActive="active"><a routerLink="/product">VIEW PRODUCTS</a></li>
        <li routerLinkActive="active"><a routerLink="/addproduct">ADD PRODUCTS</a></li> 
    </ul>
</div>
<div class="container">
    <br>
   <h2 style="text-align:center;">{{categories}}</h2>
   <hr>
    <div class="card">
    <div class="card-body">
            <router-outlet></router-outlet>

</div>
            </div>
</div>
<footer class="footer">
    <div class="container">

        <span>GG@ltd.com</span>
    </div>


</footer>
