<p>Create a product</p>
<div style="width:400px;">
        <form name="form" (ngSubmit)="onSubmit(addPForm)" #addPForm="ngForm">
                <span>Select a category:</span>
                <select name="category" [(ngModel)]="product_category">
                        <option *ngFor="let category of categories" value="{{category.id}}" [ngValue]="category">
                                {{category.name}}
                        </option>
                </select>
                <div class="form-group">
                        <input type="text" class="form-control" required ngModel name="name"
                                placeholder="product's name:" #name="ngModel">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" required ngModel name="quantity" placeholder="Quantity:"
                                #quantity="ngModel">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" required ngModel name="price" placeholder="price:"
                                #price="ngModel">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
        </form>
</div>