<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>PRODUCTS6</h2>
            <div class="panel-body"></div>
            <table class="table table-striped">
    <thead>
    <tr>
        <th>Category</th>
    <th>Product name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products" style="color:black">
        <td>{{product.category.name}}</td>
    <td>{{product.name}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.price}}</td>
    <td><button (click)="deleteproduct(product.id)" class="btn btn-info">Delete</button>
    <button (click)="productdetails(product.id)" class="btn btn-info" style="margin-left:10px">View details </button>
    <button (click)="productupdate(product.id)" class="btn btn-info">Edit</button>
    </td>
    </tr>
    </tbody>
            </table>
        </div>
    </div>
