
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>CATEGORY DETAILS</h2>
            <div class="panel-body">
  <div *ngIf="category">
         <table class="table table-striped">
  <thead>
      <tr>
      <th><span>name:</span></th>
     <th> <span>id:</span></th>
    </tr>
      </thead>
      <tbody>
  <td><div>{{category.name}}</div></td>
  <td><div>{{category.id}}</div></td>
  </tbody>
  </table>
  </div>
  </div></div></div>
<button (click)="list()" class="btn btn-primary">Go back</button>